body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for layout */
}

#background-image {
    background-image: url(/UKFlag.jpg);
    background-repeat: repeat-y; /* Repeat the image vertically */
    background-size: contain; /* Fit the entire image within the div */
    background-position: left top; /* Position the image at the top left corner */
    width: 50%; /* Occupy half of the width */
    height: 100vh; /* Full height of the viewport */
    position: fixed; /* Fixed position to remain visible while scrolling */
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Position at the left of the viewport */
    z-index: -1; /* Move the background behind other content */
}

.content {
    width: 50%; /* Occupy half of the width */
    padding: 20px;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

#uk-holidays {
    text-align: center; /* Center-align the title "UK Holidays" */
    background-color: #f0f0f0; /* Background color for the title section */
    padding: 20px; /* Add padding */
}

#search-container {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    margin-top: 20px; /* Add margin to the search container */
    justify-content: flex-end; /* Align items to the right */
}

#search-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

#search-button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

#upcoming-holidays {
    margin-top: 20px; /* Add margin to the "Upcoming Holidays" section */
    align-self: flex-end; /* Align to the right */
    text-align: right; /* Align text to the right */
}
